@model SurveyInstrumentApp.Models.Reading

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Reading</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReadingID" class="control-label"></label>
                <input asp-for="ReadingID" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="HoleID" class="control-label"></label>
                <input asp-for="HoleID" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Depth" class="control-label"></label>
                <input asp-for="Depth" class="form-control" readonly />
                <span asp-validation-for="Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dip" class="control-label"></label>
                <input asp-for="Dip" class="form-control" readonly />
                <span asp-validation-for="Dip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Azimuth" class="control-label"></label>
                <input asp-for="Azimuth" class="form-control" readonly />
                <span asp-validation-for="Azimuth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Incorrect" class="control-label"></label>
                <input asp-for="Incorrect" class="form-control" />
                <span asp-validation-for="Incorrect" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Holes" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
