@model SurveyInstrumentApp.Models.Hole

@{
    ViewData["Title"] = "Readings";
}

<h2>Readings for Drill Hole @Html.DisplayFor(model => model.ID)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Azimuth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Azimuth)
        </dd>
    </dl>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    <hr />
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Reading</th>
                <th>Depth</th>
                <th>Dip</th>
                <th>Azimuth</th>
                <th>Trustworthy</th>
                <th>Incorrect</th>
                <th>Edit</th>
            </tr>
            @foreach (var item in Model.Readings)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReadingID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Depth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Azimuth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Trustworthy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Incorrect)
                    </td>
                    <td>
                        <a asp-controller="Readings" asp-action="Edit" asp-route-id=@item.ReadingID>Edit</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
