@model IEnumerable<SurveyInstrumentApp.Models.Hole>

@{
    ViewData["Title"] = "Drill Holes";
}

<h2>Drill Holes</h2>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Dip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Azimuth)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.ID)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Azimuth)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ID">Readings</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>